/* NAVBAR */
nav {
  overflow: hidden;
  background-color: #7ac74f;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  font-size: 1em; 
  line-height: 2em;
}

nav a.logo {
  font-size: 2em;
  font-weight: bold;
}

nav a:hover {
  background-color: #a1cf6b;
  color: black;
}

ul {
  display: flex;
  list-style-type: none;
}

.header-right {
  float: right;
}

/* GRID PARA INSTRUSÃO */

.grid-perfil {
    display: grid;
    grid-template-columns: auto;
  }
  
  .grid-perfil-item { 
    font-size: 1.2em;
    text-align: center;
  }

/* BTN PERFIL */

.btn-perfil {
    color: black;
    padding: 1em; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    text-align: left;
}

.btn-perfil:hover {
    background-color: #a1cf6b;
}

a {
    text-decoration: none;
}

/* RODAPE */

footer {
    clear: both;
    text-align: center;
    padding: 1em;
    background: #7ac74f;
  }

  @media screen and (max-width: 500px) {
    nav a {
      float: none;
      display: block;
      text-align: left;
    }
    nav a.logo {
      float: none;
      display: block;
      text-align: center;
    }
  
    .header-right {
      float: none;
    }
  
    .grid-perfil {
      display: grid;
      grid-template-columns: auto;
    }
    
    .grid-perfil-item {
      padding: 1em 0;
      font-size: 1.1em;
    }
  }